<div class="header">
    <app-header></app-header>
</div>

<div class="content ">
    <div class="chat">
        <p>Anonymous4: Hi Chat!</p>
        <form>
            <input id="text" placeholder="chatte hier..." type="text">
        </form>

    </div>
    <div class="users">
        <p>Users online:</p>
        <ul>
            <li>Anonymous1</li>
            <li>Anonymous2</li>
            <li>Anonymous3</li>
        </ul>


        <div class="online">
            <p>User Online: 5</p>
        </div>
        <div class="username">
            <p>Zugeteilter Name: Anonymous 4</p>
        </div>
    </div>

</div>
<div class="footer">
    <app-footer></app-footer>
</div>