.input-group,
.font-weight-light {
	padding-top: 10px;
}
.currentname {
	padding-left: 10px;
}
::placeholder {
	color: red;
}

#change {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.nickname {
	padding-left: 1px;
	padding-right: 1px;
}
