.currentname {
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
::placeholder {
	color: red;
}

#change {
	margin-right: 3px;
}
.nickname {
	padding-left: 1px;
	padding-right: 1px;
}
.grey {
	background-color: rgba(248, 249, 250, 0.5);
}
