<div class="container-fluid">
    <div id="historycon" class="row">
        <!--placeholder-->
        <div class="col-3"></div>

        <!--Username Input-->
        <div class="nickname col-lg-6 col-sm-12">
            <div class="input-group" [hidden]="name">
                <input type="text" class="form-control" [(ngModel)]="newname" (keyup.enter)="newName()"
                    placeholder="Setze den Nickname um loszuchatten" maxlength="12" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="submitbtn" [hidden]="!newname"
                        (click)="newName()">set</button>
                </div>
            </div>

            <div>
                <p class="font-weight-light float-left" [hidden]="!name">Dein Nickname: {{name}}</p>


                <button type="button" [hidden]="!name" class="btn btn-light btn-sm" id="change" data-toggle="modal"
                    data-target="#exampleModal">
                    Nickname ändern
                </button>
            </div>


            <div class="modal fade text-dark" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dein Nickname: {{name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Nickname ändern auf:
                            <input #nicknamechange type="text" class="form-control" (keyup.enter)="changeName()"
                                [(ngModel)]="changename" maxlength="12" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" id="changebtn" data-dismiss="modal"
                                (click)="changeName()">Setze neuen Nickname</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--placeholder-->
        <div class="col-3"></div>
    </div>
</div>